<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My To Do List</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body>
    <div style="margin-top: 50px;" class="ui container">

        <h1 class="ui center aligned header"><i class="check square outline icon"></i>My To Do List</h1>

        <div id="left">
            {% for todo in todo_list | sort(attribute='complete,id') %}
            <div class="ui segment">
                <div>
                    {% if todo.complete %}
                    <a href="/update/{{ todo.id }}">
                        <span class="ui teal circular label"><i class="check circle outline icon"></i> Done</span>
                    </a>
                    {% else %}
                    <a href="/update/{{ todo.id }}">
                        <span class="ui gray circular label"><i class="circle outline icon"></i>To Do</span>
                    </a>
                    {% endif %}
                    <span class="ui big header">
                        &nbsp&nbsp{{ todo.task }}
                    </span>
                </div>
                <br>
                <div class="ui tiny buttons">
                    <a class="ui blue button" href="/edit/{{ todo.id }}">Edit Task</a>
                    <div class="or"></div>
                    <a class="ui red button" href="/delete/{{ todo.id }}">Delete</a>
                </div>
            </div>
            {% endfor %}
        </div>

        <div id="right">
            {% if not edit_todo %}
            <form class="ui form" action="/add" method="post">
                <div class="field">
                    <h3 class="ui header">
                        <label for="task">Enter New Task</label><br>
                        <div class="sub header">
                            <input type="text" name="task" maxlength="240" placeholder="max. 240 characters">
                        </div>
                    </h3>
                    <div>
                        <button class="ui violet icon button" type="submit"><i class="plus circle icon"></i> Add</button>
                    </div>
                </div>
            </form>
            {% else %}
            <form class="ui form" action="/edit/<int:todo_id>" method="post">
                <div class="field">
                    <h3 class="ui header">
                        <label for="task">Edit Task</label><br>
                        <div class="sub header">
                            <input type="text" name="task" maxlength="240" value="{{ edit_todo.task }}">
                        </div>
                    </h3>
                    <div>
                        <button class="ui pink icon button" type="submit"><i class="plus circle icon"></i> Edit</button>
                    </div>
                </div>
            </form>
            tutaj edycja
            {% endif%}
        </div>

    </div>
</body>
</html>